# Pacotes internos da Seplag continuam vindo do GitLab
@seplag:registry=http://git.seplag.mt.gov.br/api/v4/projects/${CI_PROJECT_ID}/packages/npm/
# Configuração de autenticação (substitua a URL e o token)
//git.seplag.mt.gov.br/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}
